@import "~antd/dist/antd.css";

:root {
  --main-color-green: #0d8c0dcc;
  --main-color-white: white;
  --main-color-grey: #f3f3f3;
}
/* .ant-col {
  background-color: aqua;
} */

* {
  box-sizing: inherit;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.page {
  padding-top: 1rem;
}

.button-border-green {
  border: 1px solid var(--main-color-green);
}

.button-border-green:hover {
  border: 2px solid var(--main-color-green);
  background-color: var(--main-color-green);
}

.custom-list {
  /* flex-wrap: wrap; */
  padding: 1rem;
}

.custom-list-item-content-action {
  order: 16;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex: auto;
}

.nav-bar {
  background-color: var(--main-color-white);
  padding: 1rem;
}

.logo-form {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color-green);
}

.logo-border {
  padding-left: 2rem;
}

.banner-border {
  padding: 2rem;
  align-content: center;
  justify-content: center;
  background-color: var(--main-color-green);
  color: var(--main-color-white);
}

.banner-border > div {
  color: var(--main-color-white);
}

.banner-title {
  font-size: 30px;
}

.banner-title > h1 {
  color: inherit;
}

.banner-content {
  font-size: 16px;
}

.banner-content > h4 {
  color: inherit;
}

.tag-title {
  font-size: 1rem;
  font-weight: bold;
}

.side-bar {
  margin-left: 1rem;
}

.side-bar-inner {
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--main-color-grey);
}

.tag-list {
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.tag-list > * {
  margin: 0.2rem;
}

.ant-list-item-action > li {
  display: flex;
}
nav a {
  display: inline-flex;
  border: 1px solid white;
}

a.active {
  border: 1px solid var(--main-color-green);
  border-radius: 9px;
}

a.active > * {
  color: var(--main-color-green) !important;
}

.login-form {
  max-width: 400px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

.success {
  color: var(--main-color-green) !important;
}

.radius7 {
  border-radius: 7px;
}

.success-outline {
  border: 1px solid var(--main-color-green);
  border-radius: 7px;
}

.success-full_hover:hover {
  background-color: var(--main-color-green);
  color: var(--main-color-white) !important;
}

.fake-button {
  padding: 6px 12px;
  font-weight: bold;
}

.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus {
  border-color: var(--main-color-green) !important;
  /* border-right-width: 1px !important; */
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  -webkit-box-shadow: 0 0 0 2px rgba(62, 255, 24, 0.2);
  box-shadow: 0 0 0 2px rgba(62, 255, 24, 0.2);
}
